<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Empresa</title>
</head>
<body>
<!-- HTML DE PRUEBA PARA CREAR UNA EMPRESA -->
<h1>Crear Empresa</h1>
<form method="post" action="/empresas" enctype="application/x-www-form-urlencoded">
    <label for="denominacion">Denominación:</label><br>
    <input type="text" id="denominacion" name="Denominacion"><br>

    <label for="domicilio">Domicilio:</label><br>
    <input type="text" id="domicilio" name="Domicilio"><br>

    <label for="email">Email:</label><br>
    <input type="text" id="email" name="Email"><br>

    <label for="latitud">Latitud:</label><br>
    <input type="number" id="latitud" name="Latitud"><br>

    <label for="longitud">Longitud:</label><br>
    <input type="number" id="longitud" name="Longitud"><br>

    <label for="horarioAtencion">Horario de Atención:</label><br>
    <input type="text" id="horarioAtencion" name="HorarioAtencion"><br>

    <label for="quienesSomos">Quiénes Somos:</label><br>
    <textarea id="quienesSomos" name="QuienesSomos"></textarea><br>

    <label for="telefono">Teléfono:</label><br>
    <input type="text" id="telefono" name="Telefono"><br>

    <input type="submit" value="Guardar">
</form>
</body>
</html>