<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Empresas</title>
</head>
<body>
<table width="50%" align="center">
    <tr>
        <td align="center"><a th:href="@{/empresas/empresaPrueba.html}" onclick="return confirm('¿Estás seguro de que quieres agregar una empresa?')">Agregar Empresa</a></td>
    </tr>
    <tr>
        <td width="50%"><b>EMPRESA</b></td>
        <td><b>VER PÁGINA</b></td>
    </tr>
    <tr th:each="empresa : ${empresas}">
        <td th:text="${empresa.getDenominacion()}"></td>
        <td><a th:href="@{/empresas/home/{id}(id=${empresa.getId()})}">URL PÁGINA HOME</a></td>
        <td><a th:href="@{/empresas/eliminarEmpresa/{id}(id=${empresa.getId()})}" onclick="return confirm('¿Estás seguro de que quieres eliminar esta empresa?')">Eliminar</a></td>
        <td><a th:href="@{/empresas/editar/{id}(id=${empresa.getId()})}" onclick="return confirm('¿Estás seguro de que quieres editar esta empresa?')">Editar</a></td>
    </tr>
</table>
<table width="50%" align="center">
    <tr>
        <td align="center"><a th:href="@{/noticias/noticiaPrueba.html}" onclick="return confirm('¿Estás seguro de que quieres agregar una noticia?')">Agregar Noticia</a></td>
    </tr>
    <tr>
        <td width="50%"><b>NOTICIA</b></td>
    </tr>
    <tr th:each="noticia : ${noticias}">
        <td th:text="${noticia.getTitulo()}"></td>
        <td th:text="'Empresa: ' + ${noticia.getIdEmpresa.getDenominacion()}"></td>

        <td><a th:href="@{/noticias/eliminarNoticia/{id}(id=${noticia.getId()})}" onclick="return confirm('¿Estás seguro de que quieres eliminar esta noticia?')">Eliminar</a></td>
        <td><a th:href="@{/noticias/editar/{id}(id=${noticia.getId()})}" onclick="return confirm('¿Estás seguro de que quieres editar esta noticia?')">Editar</a></td>
    </tr>
</table>

</body>
</html>