<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Empresas</title>
</head>
<body>
<table width="50%" align="center">
    <tr>
        <td width="50%"><b>EMPRESA</b></td>
        <td><b>VER PÁGINA</b></td>
    </tr>
    <tr th:each="empresa : ${empresas}">
        <td th:text="${empresa.getDenominacion()}"></td>
        <td><a th:href="@{'home.html?id=' + ${empresa.getId()}}">URL PÁGINA HOME</a></td>
    </tr>
</table>
</body>
</html>